.certificates{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.head{
    text-align:center;
    font-size: 50px;
    padding: 2%;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 10%;
}
.cBlock{
    text-align: center;
    margin:5%;
    max-width: 300px;

}
.cName{
    font-size: 22px;
    font-weight: 500;
}
.cButton button{
    border-radius: 50%;
    margin:2%;
    height: 40px;
    width: 120px;
    border:1px solid black;
}
.block{
    height: 100vh;
}
.cButton button:hover{
    background:black;
    color:white;
    font-weight: 700;
}