.card{
    height: 50vh;
    width: 30vw ;
    /* border:1px solid black; */
    margin:3%;
    box-shadow: 2px 2px 20px gray;
    animation: imageGlow 0.6s ease both;   
    
}
.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.head{
    text-align:center;
    font-size: 70px;
    padding: 2%;
    font-weight: 700;
}
.hiddenCard{
    display: none;
    text-align: center;
    font-size: 20px;
    /* background-color: beige; */
    /* height: inherit; */
}
.card:hover .hiddenCard{
    animation: imageGlow 0.6s ease both;   
    display: block;
    opacity: 1;
    z-index: 10;
}
.card:hover {
    z-index: 1;
    
}


.card img{
    width: inherit;
    height: inherit;
}
@keyframes imageGlow {
    0% {
        transform: translateX(10%);
        opacity: 0;
      }
     
      100% {
        transform: translateX(0%);
        opacity: 1;
      }
}
@media screen and (min-width:300px)and (max-width:720px){
    .card{width: 100vw;
        margin-bottom: 30%;
    }
  }