@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
.header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  color: white;
  height: 50px;
  font-size: 20px;
  border-style: none;
}
.name,
.drop {
  padding: 1% 1%;
}
.bigBlock {
  height: 100vh;
  padding-bottom: 40%;
  background-color: #000002e1;
}

.content {
  color: white;
  padding-left: 3%;
  padding-top: 8%;
  font-family: monospace;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.a1 {
  font-size: 24px;
  font-weight: 600;
  padding: 5% 0%;
  animation: rohitEffect 1s 1s ease both;
  animation: glowEffect 1s 1s ease both;
}
.a2 {
  font-size: 70px;
  font-weight: 700;
  font-family: Dancing Script;
  text-shadow: 2px 3px 2px black;
  z-index: 3;
  padding: 0.5% 0%;
  animation: rohitEffect 1.2s 1s ease both;
}
.a3 {
  font-size: 25px;
  font-weight: 400;
  color: #7d7ebe;
  /* animation: rohitEffect 1.3s 1s ease both; */
  animation: glowEffect 1s 1s ease both;
}
.a4 {
  font-size: 20px;
  font-weight: 400;
  color: #7d7ebe;
  animation: rohitEffect 1.6s 1s ease both;
  animation: glowEffect 1s 1s ease both;
}
/* .a5 {
  font-size: 30px;
  font-weight: 300;
  padding: 1% 0%;
  color: #7d7ebe;
  overflow: hidden;
  white-space: nowrap;
  animation: rohitEffect 2s 1s ease both;
  animation: glowEffect 1s 1s ease both;

  animation: type 2s steps(10,end) forwards;
} */
.a5 {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  font-weight: 800;
  font-size: 25px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width:300px;
  animation: type 3s steps(40, end) forwards;
}

.a3 span,
.a5 span {
  color: yellow;
}
.profileImage {
  height: 400px;
  width: 250px;

  /* border-radius: 100%; */
  /* border:5px solid black; */
  /* box-shadow: 2px 3px 2px rgb(26, 18, 18); */
  animation: imageGlow 2s 1s ease both;
}
.rImage {
  height: 80px;
  width: 80px;
  filter: invert(100%);
  margin: 1%;
}
@keyframes rohitEffect {
  from {
    /* padding-left: 100%;
     */
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes glowEffect {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes imageGlow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 1px solid orange;
  }
  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (min-width: 300px) and (max-width: 720px) {
  /* .profileImage{
    display:none;
  } */
  .bigBlock {
    height: fit-content;
  }
}
