.bar{
    list-style: none;
    display: flex;

}
.bar li{
    padding: 2%;
}
@media screen and (min-width:300px)and (max-width:720px){
    .bar{
    flex-direction: column;
    justify-content: space-around;
    margin:0;
    padding: 0;
    background-color: black;
    color:white;
    position: absolute;
    text-align: center;
    height: 100vh;
    width:100vw;
    z-index: 2;
    top:0;

    }
    
  }