.title {
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  padding: 4%;
  color: yellow;
}
.skill {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4%;
}
.bigBlock {
  height: 120vh;
  background-color: #000002e1;
}
.text {
  text-align: center;
  color: white;
  font-weight: 600;
}
.UI {
  margin: 10px;
  width: 100px;
  background-color: rgb(19, 17, 17);
  box-shadow: 10px 10px 10px;
}

@media screen and (min-width: 300px) and (max-width: 720px) {
  .bigBlock {
    height: fit-content;
  }
}
